.section{
  flex:0 0 48.397%;
}
.constructor{
  overflow-y: scroll;
  scrollbar-width: thin;
  max-height: 25vw;
}
.item{
  display: flex;
  align-items: center;
}
.icon{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.constructor::-webkit-scrollbar{
  width: 8px;
  height: 494px;
  background: #2F2F37;
}
.constructor::-webkit-scrollbar-thumb{
background: #8585AD;
border: 3px solid #8585AD;
}
.constructor::-webkit-scrollbar-button:vertical:start:decrement,
.constructor::-webkit-scrollbar-button:vertical:start:increment {
  display: none;
}
.total{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.price{
  display: flex;
  align-items: center;
}
.price output{
  font-size: 48px;
}
